<?xml version="1.0" ?>
<launch>

<!--spawn world with map-->
     
<machine name="robotino" address="robotino" env-loader="/opt/ros/melodic/env.sh" user="robotino" password="robotino"/>

<!-- Arguments -->
        <!--<arg name="hostname" default="10.42.0.1"/>-->
        <arg name="hostname" default="127.0.1.1"/>
        <!--<arg name="hostname" default="192.168.1.110" />-->
        <arg name="open_rviz" default="false"/>
        <arg name="map_file" default="$(find robotino_description)/maps/c1.11.yaml"/>
        <!--<arg name="map_file" default="$(find robotino_2dnav)/maps/c1.11.yaml"/>-->
        

  <node machine="robotino" name="robotino_node" pkg="robotino_node" type="robotino_node" output="screen">
      <param name="hostname" value="$(arg hostname)" />
      <param name="max_linear_vel" value="0.1" />
      <param name="min_linear_vel" value="0.01" />
      <param name="max_angular_vel" value="1.0" />
      <param name="min_angular_vel" value="0.01" />
      <remap from="robotino_joint_states" to="joint_states" />
      <!--remap from="image_raw" to="image"/-->
  </node>

  <node machine="robotino" name="robotino_odometry_node" pkg="robotino_node" type="robotino_odometry_node" output="screen">
    <param name="hostname" value="$(arg hostname)" />
  </node>

  <node machine="robotino" name="robotino_laserrangefinder_node" pkg="robotino_node" type="robotino_laserrangefinder_node" output="screen">
    <param name="hostname" value="$(arg hostname)" />
    <param name="laserRangeFinderNumber" value="0" />
  </node>
  
  <node machine="robotino" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node machine="robotino" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="20.0" />
  </node>

  <node machine="robotino" pkg="tf" type="static_transform_publisher" name="laser_camera_broadcaster" args="-0.05 0 0.14 0 0 0 laser_link camera_depth_frame 50" />
  <node machine="robotino" pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="0.06 0 0.23 0 0 0 base_link laser_link 50" />
    <param name="robot_description" textfile="$(find robotino_description)/robotino.urdf" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

<!-- move_base -->
<node machine="robotino" pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
  <rosparam file="$(find robotino_description)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find robotino_description)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
  <rosparam file="$(find robotino_description)/param/local_costmap_params.yaml" command="load" />
  <rosparam file="$(find robotino_description)/param/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find robotino_description)/param/move_base_params.yaml" command="load" />
  <rosparam file="$(find robotino_description)/param/base_local_planner_params.yaml" command="load" />
  <rosparam file="$(find robotino_description)/param/dwa_local_planner_params.yaml" command="load" />
</node>


  <!-- Arguments -->
  <arg name="scan_topic"     default="scan"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- AMCL -->
  <node machine="robotino" pkg="amcl" type="amcl" name="amcl" output="screen">

    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <remap from="scan"                      to="$(arg scan_topic)"/>
    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>

    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_link"/>

  </node>
 

<!--rviz-->
  <!--<node type="rviz" name="rviz" pkg="rviz" args="-d $(find robotino_description)/param/rviz/robotino.rviz" />-->


<!--exploring_lite-->
  <!--<node pkg="explore_lite" type="explore" respawn="true" name="explore" output="screen">
    <rosparam file="$(find robotino_description)/param/exploration.yaml" command="load" />
  </node>-->

<!--simplegoals node-->
 <!--<arg name="room"/>
  <node pkg="robotino_node" type="simplegoal" name="simplegoal" args="$(arg room)" />--> 

  <!--goal_csv node-->
  <!--<arg name="room"/>-->
  <!--<arg name="node_start_delay" default="2.0" />-->
  <!--<node pkg="robotino_node" type="goal_csv" name="goal_csv" launch-prefix="gnome-terminal HIER GEHÖREN ZWEI BINDESTRICH HIN FALLS DER BEFEHL FUNKTIONIEREN SOLL" output="screen"/>-->
  <node pkg="robotino_node" type="goal_csv" name="goal_csv"/>

 <node pkg="robotino_gui" type="robotino_gui" name="robotino_gui"/>

</launch>
